<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/style.css">
    <link rel="stylesheet" href="../../resources/css/style1.css">
    <script src="../../resources/js/main.js"></script>
</head>
<body>
    <header class="showcase">
        <div class="showcase_top">
            <div class="left" style="background-color: #fcc415de;">
                <img src="../../resources/images/logo/logo_inverted_white.png" alt="logo" class="log">
                <img src="../../resources/images/logo/logo_small.png" alt="logo" class="log_s">
                <div class="navs">
                    <ul class="nav_list">
                    <div class="home"><li><a href="./home-page.html">Home</a></li></div>
                    <div class="services"><li><a href="./services.html">Services</a></li></div>
                    <div class="about_us"><li><a href="./about.html">About us</a></li></div>
                    <div class="home"><li><a href="./contact.html">Contact us</a></li></div>
                    </ul>
                </div>
            </div>
            <div>
                <div class="search">
                    <div class="search-box" onmouseover="search_extend()" onmouseleave="search_shrink()" onkeyup="suggestion_small()">
                        <input id="search_txt" class="search-txt" type="text" name="" placeholder="Type to search">
                        <a class="search-btn" href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="search-svg" fill="#fcc415"><path   d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"/></svg></a>
                    </div>
                    <div class="suggestion_box" ></div>
                </div>
            </div>
            <div class="right">
                <ul>
                    <li>
                        <div class="search-box" onmouseover="search_extend()" onmouseleave="search_shrink()" onkeyup="suggestion()">
                            <input id="search_txt_large" class="search-txt" type="text" name="" placeholder="Type to search">
                            <a class="search-btn" href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="search-svg" fill="#fcc415"><path   d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"/></svg></a>
                        </div>
                        <div class="suggestion_box" id="sugg_box"></div>
                    </li>
                    <li><a href="./signup.html">Sign up</a></li>
                    <li><a href="./loginPage.html">Log in</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="servicesLanding">	
        <div class="navContent">
            <div>
                <h1>What Negadras Do?</h1>
                <p>Negadras is the place that you can sign up for free and get best retailing exprience.And all the team of negadras is ready to serve you.</p>
                <button class="primaryColor"> Learn more </button>
            </div>
        </div>				
    </div>
    <div class="benefits_holder">
        <h1 align="center" style="font-family: rog; font-size: 3em;">Benefis with trust and safety</h1>
        <div class="Benefits">
                <div class="benefitsList">
                    <img src="../../resources/images/icon-b1.png" height="70px">
                    <h2>Publicly Avialable on web</h2>
                    <p>Negadras is an onine platform that serves as a place to auction products and services. Negadras may not be the first on this field but it is the perfect platform to buy and sell or grow your business connections.</p>
                </div>
            
                <div class="benefitsList">
                    <img src="../../resources/images/icon-b2.png" height="70px">
                    <h2>Trusted Service</h2>
                    <p>We provide a trusted services, all the services and products are checked by our team before it is published on the website and when Items are sold we take the post down in no time. .</p>
                </div>
                <div class="benefitsList">
                    <img src="../../resources/images/icon-b3.png" height="70px">
                    <h2>Verified Services</h2>
                    <p>Here at Negadras every service and product is Verified before it is published on our website. We check the availability and trustworthiness of the product of service and thats when we will post the product.</p>
                </div>
                <div class="benefitsList">
                    <img src="../../resources/images/icon-b4.png" height="70px">
                    <h2>Data Protection</h2>
                    <p>Negadras is an onine platform that serves as a place to auction products and services. Negadras may not be the first on this field but it is the perfect platform to buy and sell or grow your business connections.</p>
                </div>
                <div class="benefitsList">
                    <img src="../../resources/images/icon-b5.png" height="70px">
                    <h2>Support</h2>
                    <p>Negadras is an onine platform that serves as a place to auction products and services. Negadras may not be the first on this field but it is the perfect platform to buy and sell or grow your business connections.</p>
                </div>
        </div>
    </div>
    <footer class="footer" style="background: #ebf1ff;">
        <div class="mainFoot">
            <div class="discrip">
                <img src="../../resources/images/logo/logo_01.png" alt="" class="foot_logo">
            </div>
            <div class="quick-link">
                <h3 style="color: black;"> Quick links</h3>
                <ul>
                    <li><a href="./home-page.html">Home</a></li>
                    <li><a href="./product.html">Product</a></li>
                    <li><a href="./services.html">Services</a></li>
                    <li><a href="./about.html">About us</a></li>
                    <li><a href="./contact.html">Contact us</a></li>
                </ul>
            </div>
            <div class="contact">
                <h3 style="color: black;">Contact us </h3>
                <ul>
                    <a href="tel:+251929627848"><li><div class="fa fa-phone"></div><h> &nbsp +251 929 627 848</h></li></a>
                    <a href="mailto:negadras@gmail.com"><li><div class="fa fa-google"></div><h>  &nbsp negadras@gmail.com</h></li></a>
                    <a href="#" target="blank"><li><div class="fa fa-location-arrow" ></div><h> &nbsp AASTU Block 12 Dorm 114  <br> &nbsp &nbsp &nbsp Addis Ababa, Ethiopia</h></li></a>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>
