<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link href="../../resources/css/login.css" rel="stylesheet">
        <link href="../../resources/css/style.css" rel="stylesheet">
    </head>
    <body class="align" style="background: url(../../resources/images/bg01.jpg) rgba(246,196,46,0.4);background-size:cover ; background-repeat: no-repeat;">
      <div class="backgroundBlur"></div>
      <!-- <?php if(!empty($errors)): ?>
          <div class="alert alert-danger">
            <?php foreach($errors as $error): ?>
                <div><?php echo $error?></div>
            <?php endforeach; ?>
          </div>
      <?php endif; ?> -->
        <div class="grid">
           
          <form id="signupForm" method="POST" class="form login">
            <div class="form__field" id="formField1">
              <label for="login__username">  
              <span class="hidden">FirstName</span></label>
              <input  id="login__1" type="text" name="firstname" class="form__input" placeholder="FirstName" onkeyup="checkSignUp(`login__1`, `formField1`)">
            </div>
            <div class="form__field" id="formField2">
                <label for="login__username">
                <span class="hidden">LastName</span></label>
                <input  id="login__2" type="text" name="lastname" class="form__input" placeholder="LastName" onkeyup="checkSignUp(`login__2`, `formField2`)">
              </div>
              <div class="form__field" id="formField3">
                <label for="login__username">
                <span class="hidden">Email</span></label>
                <input  id="login__3" type="email" name="email" class="form__input" placeholder="Email" onkeyup="checkSignUp(`login__3`, `formField3`)">
              </div>
              <div class="form__field" id="formField4">
                <label for="login__username">  
                <span class="hidden">Mobile Phone</span></label>
                <input  id="login__4" type="tel" name="phone" class="form__input" placeholder="Phone Number" onkeyup="checkSignUp(`login__4`, `formField4`)">
              </div>
      
            <div class="form__field" id="formField5">
              <label for="login__password">
                <span class="hidden">Password</span></label>
                <input id="login__5" type="password" name="password" class="form__input" placeholder="New Password" onkeyup="checkSignUp(`login__5`, `formField5`)">
              </div>
              <div class="form__field" id="formField4">
                <label for="securityQuestion">Security Question</label>
                <select id="securityQuestion" name="securityQuestion" class="form__input" onchange="checkSignUp('securityQuestion', 'formField4')">
                    <option value="" selected disabled>Select a Security Question</option>
                    <option value="motherMaidenName">What is your mother's maiden name?</option>
                    <option value="birthplace">Where were you born?</option>
                    <option value="firstPet">What was the name of your first pet?</option>
                    <option value="favoriteTeacher">Who was your favorite teacher?</option>
                    <option value="childhoodFriend">Who is your childhood best friend?</option>
                </select>
            </div>
            
              <div class="form__field" id="formField4">
                <label for="login__username">  
                <span class="hidden">Security Question Answer</span></label>
                <input  id="login__4" type="tel" name="phone" class="form__input" placeholder="Security Question Answer" onkeyup="checkSignUp(`login__4`, `formField4`)">
              </div>
            <div class="form__field" id="formField6">
                <label for="login__password">
                <span class="hidden">Password</span></label>
                <input id="login__6" type="password" name="ConfirmPassword" class="form__input" placeholder="Confirm Password" onkeyup="checkSignUp(`login__6`, `formField6`)">
              </div>
      
            <div class="form__field">
              <input type="submit" value="Sign up" >
            </div>
      
          </form>
      
          <p class="text--center">Already have account? <a href="loginPage.html">Login now</a> </p>
      
        </div>

          <!-- <div class="container">
            <div class="wrapper">
              <div class="image">
                  <img src="" alt="">
              </div>
              <div class="content">
                  <div class="icon">
                    <i class="fas fa-cloud-upload-alt"></i>
                  </div>
                  <div class="text">
                    Upload Photo
                  </div>
              </div>
              <div id="cancel-btn">
                  <i class="fas fa-times"></i>
              </div>
              <div class="file-name">
                  File name here
              </div>
            </div>
            <button onclick="defaultBtnActive()" id="custom-btn">Choose a file</button>
            <input id="default-btn" name="file" type="file" hidden>
          </div> -->

        <script type="text/javascript" src="../../resources/js/funcs.js"></script>
      <script src="https://code.iconify.design/2/2.2.0/iconify.min.js"></script>

        <script>
            function checkSignUp(id, id2) {
            var formInput = document.getElementById(id).value;
            // console.log(formInput)
            if(formInput==""){
              document.getElementById(id2).style.cssText=`border: 1px solid #b10000ad; border-radius: 4px; `
              return false
            }
            else {
              document.getElementById(id2).style.cssText=`border: none;`
              return true;
            }
          }

          function ErrorMessage(){
            for (var i=1; i<=6; i++) if (!checkSignUp(`login__${i}`, `formField${i}`)) return false
            return true
          }
          const signupForm  = document.getElementById('signupForm')
          signupForm.addEventListener('submit', e => {
            var formData = new FormData(signupForm)
            var file = document.getElementById("default-btn")
            console.log((file.files[0]))
            if(file.files[0]) formData.append("profilePhoto", file.files[0])
            // if(file.files.length != 0 ) formData.append("profilePhoto", file.files[0])
            e.preventDefault()
            console.log(ErrorMessage())
            if (ErrorMessage()) sendInfo()
            async function sendInfo() {
              loading("addLoad");
              var response = await fetch ( "../api/signup.php", {
                method: 'POST',
                body: formData
              }).then(res => res.json()).then(response => response)
              console.log(response)
              loading("remove");
              if (response.success) {
                // window.alert("Successfully Registered")
                errorHand({type: "success", message: response.message})
                document.location.href = "./loginPage.html"
              }
              else {
                // window.alert("Error: not registered")
                errorHand({type: "error", message: "Email exists"})
              }
            }
          })
            const wrapper = document.querySelector(".wrapper");
            const fileName = document.querySelector(".file-name");
            const defaultBtn = document.querySelector("#default-btn");
            const customBtn = document.querySelector("#custom-btn");
            const cancelBtn = document.querySelector("#cancel-btn i");
            const img = document.querySelector("img");
            let regExp = /[0-9a-zA-Z\^\&\'\@\{\}\[\]\,\$\=\!\-\#\(\)\.\%\+\~\_ ]+$/;
            function defaultBtnActive(){
              defaultBtn.click();
            }
            defaultBtn.addEventListener("change", function(){
              const file = this.files[0];
              if(file){
                const reader = new FileReader();
                reader.onload = function(){
                  const result = reader.result;
                  img.src = result;
                  wrapper.classList.add("active");
                }
                cancelBtn.addEventListener("click", function(){
                  img.src = "";
                  wrapper.classList.remove("active");
                })
                reader.readAsDataURL(file);
              }
              if(this.value){
                let valueStore = this.value.match(regExp);
                fileName.textContent = valueStore;
              }
            });
        </script>
      <script type="text/javascript" src="../../resources/js/funcs.js"></script>
      </body>
</html>
