<!DOCTYPE html>
<html>
    <head>
       <title>SignUp Form </title>
       <link rel="stylesheet" href="../../resources/css/login.css">
    </head>
    <body>
        <div class="Signupbox">
			     <div><p>SignUp Here</p><div></div></div>
                <form>
                    <!-- <p>FirstName</p> -->
                    <input type="text" name="" id="name" placeholder="Enter FirstName">
					<span id="error"></span>
					<br>
                    <input type="text" id="lastName" placeholder="Enter lastName">
					<span id="error2"></span>
					<br>
                    <input type="email" id="email" placeholder="Enter your Email Address">
                    <span id="error3"></span>
					<br>
					<input type="tel" id="Phone" placeholder="Enter Phone Number">
                    <span id="error4"></span>
					<br>
					<input type="password" id="password" placeholder="Enter New password" size="8">
					<span id="error5"></span>
					<br>
                    <input type="password" id="" placeholder="ReEnter Password Password">
					<br>
					<button id="sn" onclick="errorMessage()">SignUp</button><br><br>
                    <a href="loginPage.html">i have an account? Login</a>
                </form>
        </div>
    <script src="../../resources/js/login.js"></script>
	</body>
</html>