<!DOCTYPE html>
<html lang="EN">
<html>
	<head>
		<title>About</title>
	</head>
	<body bgcolor="#021020" style="color: white;">
		<table width="100%">
			<tr>
				<td><img src="../../Resources/images/wordbig.png" height="30px"></td>
				<td align="right"><input type="text" name=""><input type="submit" name="Search" value="Search"></td>
				<td align="right">
					<a href="./home_page.html"><font size="+1" color="white"><b>HOME</b></font></a> |
					<a href="./about.html"><font size="+1" color="white"><b>ABOUT</b></font></a> |
					<a href="./product.html"><font size="+1" color="white"><b>PRODUCT</b></font></a> |
					<a href="./Services.html"><font size="+1" color="white"><b>SERVICES</b></font></a> |
					<a href="./contacts.html"><font size="+1" color="white"><b>CONTACTS</b></font></a>
				</td>
				<td align="right">
					<button><a href="./login.html">LOG IN</a></button>
					<button><a href="./signup.html">SIGN UP</a></button>
				</td>
			</tr>
		</table>
		<hr>
		<table width="100%">
			<tr>
				<td>
					<img src="../../Resources/images/neg.png" height="600px">
				</td>
				<td valign="center" width="60%" align="left">
					<p>
				<h1>What Negadras Do?</h1>

				Negadras is the place that you can sign up for free and get best retailing exprience.And all the team of negadras is ready to serve you.

				In doing that Negadras provides lots of things for the coustomers this are:
				<ol type="i">
					<li>RETAIL:is the service in which we provide/ enable our users to get the experience of buying and selling.</li>
					<li>PROMOTION: customers either retailers or companies are able to promote their services or products using our website ad. Link.</li>
					<li>DELIVERY: get you desired item with our fast delivery-system with fair price</li>
				</ol>
				</p>
				<p align="left">
				<h1>Why Create Negadras?</h1>
				As every solution to happen there is/ are problems and in so creating Negadras we first observe some problems arround us and our community.

				And the discovered problems were in having desired product in desired time plus not having the connection that is needed between the company and the customers.

				We took it upon ourselves to change that. We developed a burning desire to create something to bridge the chasms between businesses across user and companies . So, with a goal in mind, a skilled team at hand, Negadras the website that helps discover and build profitable long-lasting networks amongst businesses around the world.
				</p>
			</td>
			</tr>
		</table>
		<hr><br><br>
		<div>
			<h1 align="center">Benefis with trust and safety</h1>
			<br><br>
			<table width="90%" align="center">
				<tr>
					<td align="center">
						<img src="../../Resources/images/icon-b1.png" height="70px">
						<h2>Publicly Avialable on web</h2>
						<p>Negadras is an onine platform that serves as a place to auction products and services. Negadras may not be the first on this field but it is the perfect platform to buy and sell or grow your business connections.</p>
						<br><br><br>
					</td>
					<td align="center">
						<img src="../../Resources/images/icon-b2.png" height="70px">
						<h2>Trusted Service</h2>
						<p>We provide a trusted services, all the services and products are checked by our team before it is published on the website and when Items are sold we take the post down in no time. .</p>
						<br><br><br>
					</td>
					<td align="center">
						<img src="../../Resources/images/icon-b3.png" height="70px">
						<h2>Verified Services</h2>
						<p>Here at Negadras every service and product is Verified before it is published on our website. We check the availability and trustworthiness of the product of service and thats when we will post the product.</p>
						<br><br><br>
					</td>
				</tr>
				<tr>
					<td align="center">
						<img src="../../Resources/images/icon-b4.png" height="70px">
						<h2>Data Protection</h2>
						<p>Negadras is an onine platform that serves as a place to auction products and services. Negadras may not be the first on this field but it is the perfect platform to buy and sell or grow your business connections.</p>
					</td>
					<td align="center">
						<img src="../../Resources/images/icon-b5.png" height="70px">
						<h2>Support</h2>
						<p>Negadras is an onine platform that serves as a place to auction products and services. Negadras may not be the first on this field but it is the perfect platform to buy and sell or grow your business connections.</p>
					</td>
				</tr>
			</table>
		</div>
		<br><br>
		<hr><br><br>
		<table width="90%" align="center">
			<tr>
				<th>SELL ON NEGADRAS</th>	
				<th>BUY ON NEGADRAS</th>	
				<th>COMPANY</th>
				<th>PRODUCTS</th>	
			</tr>
			<tr>
				<td align="center" valign="top">
					<a href="./signup.html"><font size="+1" color="white"><b>CREATE ACCOUNT</b></font></a><br>
					<a href="./signup.html"><font size="+1" color="white"><b>SIGN IN</b></font></a>
				</td>
				<td align="center" valign="top">
					<a href="./signup.html"><font size="+1" color="white"><b>CREATE ACCOUNT</b></font></a><br>
					<a href="./signup.html"><font size="+1" color="white"><b>SIGN IN</b></font></a>
				</td>
				<td align="center" valign="top">
					<a href="about.html"><font size="+1" color="white"><b>ABOUT US</b></font></a><br>
					<a href="Services.html"><font size="+1" color="white"><b>services</b></font></a>
				</td>
				<td align="center">
					<a href="Elecronics.html"><font size="+1" color="white"><b>ELECTRONICS</b></font></a><br>
					<a href="./Accessories.html"><font size="+1" color="white"><b>ACCESSORIES</b></font></a><br>
					<a href="./Clothes.html"><font size="+1" color="white"><b>CLOTHES</b></font></a><br>
					<a href="./Grocery.html"><font size="+1" color="white"><b>GROCERIES</b></font></a><br>

				</td>
			</tr>
		</table>
	</body>
</html>
