<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        
        <title>Contact Us</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="../../Resources/css/conts.css">
    </head>
    <body>

           <div class="nav">
               <button class="logo"><a href="home.html" class="log">NEGADRAS</a></button>
               <input class="sbox" type="text" name="">
               <input class="se" type="submit" name="Search" value="Search">
              <div class="nave">
                
               <button class="navbar"><a href="home.html" class="navtext">Service</a></button>
               <button class="navbar"><a href="home.html" class="navtext">About</a></button>
               <button class="navbar"><a href="home.html" class="navtext">Product</a></button>
               <button class="navbar"><a href="home.html" class="navtext">Home</a></button>&nbsp&nbsp&nbsp;
               <button class="navbars"> <input type="submit" name="Login" value="Login" class="s">&nbsp;</button>
               <button class="navbars"> <input type="submit" name="Signup" value="signup" class="s"></button>
               
              </div>

           </div>
   
   <hr>
       <button class="con"><div class="coninfo">
           <div class="info">
            <h3 style="text-align: center;">Contact us</h3>

            <ul >
                  <li><b>Telegram-</b>@NegadrasOfficial</li>
                 <li><b>Phone Number</b>-+251943232134</li>
                 <li><b>Email</b>-support@negadras.com</li>
                            </ul>




           </div>
        </button>




       </div>





   <div class="image">
       <img src="../../Resources/images/boat.png" width="710px">
   </div>

   <div class="forms">
    <h2>Contact Us</h2>
    <p>You can leave the following information about your self and the message in the following form</p>
     <h3>Fill out the following form with all the required info</h3>
     <form>
        <h4>Full name <sup style="color: red;">*</sup></h4>
        <input class="f1" placeholder="Your name" type="text" tabindex="1" required autofocus>
      <br>
      <h4>Email Address <sup style="color: red;">*</sup></h4>
        <input class="f1"placeholder="Your Email Address" type="email" tabindex="2" required>
      <br>
      <h4>Phone Number (Optional) </h4>
        <input class="f1"placeholder="Your Phone Number" type="tel" tabindex="3" >
      <br>
      <h4>Message <sup style="color: red;">*</sup></h4>
        <textarea placeholder="Type your Message Here...." tabindex="4" required></textarea>
      <br>
        <button class="submit" name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>







     </form>
    











   </div>
        
        
    </body>
</html>