<!DOCTYPE html>
<html lang="EN">
<html>
    <head>

    </head>
    <body >
         <table width="100%">
            <tr>
                <td><img src="Negadras Assignment/Resources/images/Negadras.jpg" height="30px">
                <td align="right"><input type="text" name=""><input type="submit" name="Search" value="Search"></td>
                <td align="right">
                    <a href="Home_page.html">Home</a> |
                    <a href="About.html">About</a> |
                    <a href="Products.html">Products</a> |
                    <a href="Services.html">Services</a> |
                    <a href="Contact.html">Contact</a>
                </td>
                <td align="right">
                    <input type="submit" name="Login" value="Login">
                    <input type="submit" name="Signup" value="signup">
                </td>
            </tr>
        </table>
        <hr>

<table width="100%" bgcolor="#d4d7dc"> 
 <colgroup> 
    <col span="2" > 
 </colgroup> 
 <tr> 
    <td col width="75%" bgcolor="#d4d7dc">
          <h2>Contact Us</h2>
                <p>You can leave the following information about your self and the message in the following form</p>
                 <h3>Fill out the following form with all the required info</h3>
    <fieldset  >
       
  <h4>Full name <sup style="color: red;">*</sup></h4>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus>
    <br>
    <h4>Email Address <sup style="color: red;">*</sup></h4>
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
    <br>
    <h4>Phone Number <sup style="color: red;">*</sup></h4>
      <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
    <br>
    <h4>Message <sup style="color: red;">*</sup></h4>
      <textarea placeholder="Type your Message Here...." tabindex="4" required></textarea>
    <br>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>

    </fieldset>
  </form>
 <h4>Every information with <sup style="color: red;">*</sup> Mark should be filled out.</h4>


    </td>
  
    <td col width="25%"  bgcolor="white" >
        <br><br><br>
        <h3 style="text-align: center;">Contact us</h3>

<ul >
      <li>Telgram- <a href="t.me/NegadrasOfficial">t.me/NegadrasOfficial</a></li>
     <li>Phone Number-+251943232134</li>
                    <li>Email-support@negadras.com</li>
                </ul>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    </td> 
 </tr> 
</table> 







    </body>
</html>
