<!DOCTYPE html>
<html>
    <head>
        <title>NEGADRAS ONLINE MARKETING - HOME</title>
    </head>
    <body>
        <table bgcolor="#E6E4F0" width="100%">
            <tr>
                <td width="50%" valign="top">
                    <table >
                        <tr>
                            <td width="30%" align="center">
                                <img src="../../Resources/images/logo/logo_01.png" alt="logo" width="75%">
                        </td>
                        <td width="35%" align="right">
                                <a href="./home_page.html"><font size="+1" color="#707070"><b>HOME</b></font></a>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="./product.html"><font size="+1" color="#707070"><b>PRODUCT</b></font></a>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td width="100%" align="center">
                                <font size="+3" color="#707070"><h1>QUALITY PRODUCT WITH <font color="#F4BB00">AFFORDABLE</font> PRICE</h1></font>
                            </td>
                        </tr>
                        <tr>
                            <td height="100%"><pre> 
                            </pre></td>
                        </tr>
                        <tr>
                            <td width="100%" align="center">
                                <font size="+3" color="#707070">Negadras Shopping is e-commerce platform which is based in Ethiopia, providing quality goods at an affordable price. </font>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <a href="./login.html">
                                    <table width="26%">
                                        <tr>
                                            <td bgcolor="#F4BB00" height="50vh" align="center">
                                                <font size="+2" color="#FFFFFF">Order Now</font>
                                            </td>
                                        </tr>
                                    </table>
                                </a>
                                <br><br><br>
                            </td>
                        </tr>
                    </table>
                </td>
                <td width="50%" bgcolor="#fcc415" valign="top">
                    <table width="100%">
                        <tr>
                            <td height="100%"><pre> 
                            </pre></td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="./Services.html"><font size="+1" color="#707070"><b>SERVICE</b></font></a>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="./about.html"><font size="+1" color="#707070"><b>ABOUT US</b></font></a>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="text" name=""><input type="submit" name="Search" value="Search">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="./signup.html"><font size="+1" color="#707070"><b>SIGN UP </b></font></a> ||
                                <a href="./login.html"><font size="+1" color="#707070"><b>LOG IN</b></font></a>
                            </td>
                        </tr>
                        <tr>
                            <td height="100%"><pre> </pre></td>
                        </tr>
                        <tr>
                            <td align="right">
                                <table width="36%" >
                                    <tr>
                                        <td bgcolor="#FFFFFF" align="center" valign="middle">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <img src="../../resources/images/time.png" alt="" width="50%">
                                                    </td>
                                                    <td>
                                                        <font size="+1" color="#000000">Delivery  30 min</font>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>
                                            <pre>       </pre>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="../../resources/images/image_01.png" alt="groceries" width="100%">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table width="100%" bgcolor="#f6f6f6">
            <tr>
                <td align="center">
                    <font size="+2" color="#707070"><br><br><h1>Fe<u>atured Produ</u>cts</h1></font>
                </td>
            </tr>
            <tr>
                <td>
                    <table width=90% align="center">
                        <tr>
                            <td width="20%" align="center" bgcolor="E6E4F0" valign="top">
                                <img src="../../resources/images/image_02.jpg" alt="dress"><br>
                                <font color="#707070"><h2>Baby Birthday Party Dress</h2></font><br>
                                <img src="../../resources/images/rating.png" alt="" width="50%">
                                <font color="#707070"><h2>Br2,850.00</h2></font><br>
                                <a href="./login.html">
                                    <table width=80% bgcolor="F4BB00">
                                        <tr>
                                            <td width=20%>
                                                <img src="../../resources/images/cart.png" alt="" width="100%">
                                            </td>
                                            <td>
                                                <font color="#707070" size="+2"><b>ADD TO CART</b></font>
                                            </td>
                                        </tr>
                                    </table>
                                </a>
                            </td>
                            <td width=2%></td>
                            <td width="20%" align="center" bgcolor="E6E4F0" valign="top">
                                <img src="../../resources/images/Image_03.jpg" alt="kids_sleeping_bag"><br>
                                <font color="#707070"><h2>Kids' Winter With Fleece Plush Anti-kick Sleeping Bag</h2></font><br>
                                <img src="../../resources/images/rating.png" alt="" width="50%">
                                <font color="#707070"><h2>Br2,080.00</h2></font><br>
                                <a href="./login.html">
                                    <table width=80% bgcolor="F4BB00">
                                        <tr>
                                            <td width=20%>
                                                <img src="../../resources/images/cart.png" alt="" width="100%">
                                            </td>
                                            <td>
                                                <font color="#707070" size="+2"><b>ADD TO CART</b></font>
                                            </td>
                                        </tr>
                                    </table>
                                </a>
                            </td>
                            <td width=2%></td>
                            <td width="20%" align="center" bgcolor="E6E4F0" valign="top">
                                <img src="../../resources/images/Image_04.jpg" alt="laptop_stand"><br>
                                <font color="#707070"><h2>Adjustable Laptop & Tablet Stand</h2></font><br>
                                <img src="../../resources/images/rating.png" alt="" width="50%">
                                <font color="#707070"><h2>Br250.00</h2></font><br>
                                <a href="./login.html">
                                    <table width=80% bgcolor="F4BB00">
                                        <tr>
                                            <td width=20%>
                                                <img src="../../resources/images/cart.png" alt="" width="100%">
                                            </td>
                                            <td>
                                                <font color="#707070" size="+2"><b>ADD TO CART</b></font>
                                            </td>
                                        </tr>
                                    </table>
                                </a>
                            </td>
                            <td width=2%></td>
                            <td width="20%" align="center" bgcolor="E6E4F0" valign="top">
                                <img src="../../resources/images/image_05.jpg" alt="skateboard"><br>
                                <font color="#707070"><h2>SKATEBOARD</h2></font><br>
                                <img src="../../resources/images/rating.png" alt="" width="50%">
                                <font color="#707070"><h2>Br850.00</h2></font><br>
                                <a href="./login.html">
                                    <table width=80% bgcolor="F4BB00">
                                        <tr>
                                            <td width=20%>
                                                <img src="../../resources/images/cart.png" alt="" width="100%">
                                            </td>
                                            <td>
                                                <font color="#707070" size="+2"><b>ADD TO CART</b></font>
                                            </td>
                                        </tr>
                                    </table>
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <br><br><br><br><br>
                </td>
            </tr>
            <tr>
                <td>
                    <table width=90% align="center">
                        <tr>
                            <td width="20%" align="center" bgcolor="E6E4F0" valign="top">
                                <img src="../../resources/images/image_06.jpg" alt="legion 5 pro" width="100%"><br>
                                <font color="#707070"><h2>Brand New HIGH Spec Power legion 5 pro (Gaming) </h2></font><br>
                                <img src="../../resources/images/rating.png" alt="" width="50%">
                                <font color="#707070"><h2>Br139,850.00</h2></font><br>
                                <a href="./login.html">
                                    <table width=80% bgcolor="F4BB00">
                                        <tr>
                                            <td width=20%>
                                                <img src="../../resources/images/cart.png" alt="" width="100%">
                                            </td>
                                            <td>
                                                <font color="#707070" size="+2"><b>ADD TO CART</b></font>
                                            </td>
                                        </tr>
                                    </table>
                                </a>
                            </td>
                            <td width=2%></td>
                            <td width="20%" align="center" bgcolor="E6E4F0" valign="top">
                                <img src="../../resources/images/image_07.jpg" alt="kids_sleeping_bag" width="100%"><br>
                                <font color="#707070"><h2>Trancend Hard Disk - 2TB </h2></font><br>
                                <img src="../../resources/images/rating.png" alt="" width="50%">
                                <font color="#707070"><h2>Br5,850.00</h2></font><br>
                                <a href="./login.html">
                                    <table width=80% bgcolor="F4BB00">
                                        <tr>
                                            <td width=20%>
                                                <img src="../../resources/images/cart.png" alt="" width="100%">
                                            </td>
                                            <td>
                                                <font color="#707070" size="+2"><b>ADD TO CART</b></font>
                                            </td>
                                        </tr>
                                    </table>
                                </a>
                            </td>
                            <td width=2%></td>
                            <td width="20%" align="center" bgcolor="E6E4F0" valign="top">
                                <img src="../../resources/images/Image_04.jpg" alt="laptop_stand"><br>
                                <font color="#707070"><h2>Adjustable Laptop & Tablet Stand</h2></font><br>
                                <img src="../../resources/images/rating.png" alt="" width="50%">
                                <font color="#707070"><h2>Br2,850.00</h2></font><br>
                                <a href="./login.html">
                                    <table width=80% bgcolor="F4BB00">
                                        <tr>
                                            <td width=20%>
                                                <img src="../../resources/images/cart.png" alt="" width="100%">
                                            </td>
                                            <td>
                                                <font color="#707070" size="+2"><b>ADD TO CART</b></font>
                                            </td>
                                        </tr>
                                    </table>
                                </a>
                            </td>
                            <td width=2%></td>
                            <td width="20%" align="center" bgcolor="E6E4F0" valign="top">
                                <img src="../../resources/images/image_05.jpg" alt="skateboard"><br>
                                <font color="#707070"><h2>SKATEBOARD</h2></font><br>
                                <img src="../../resources/images/rating.png" alt="" width="50%">
                                <font color="#707070"><h2>Br2,850.00</h2></font><br>
                                <a href="./login.html">
                                    <table width=80% bgcolor="F4BB00">
                                        <tr>
                                            <td width=20%>
                                                <img src="../../resources/images/cart.png" alt="" width="100%">
                                            </td>
                                            <td>
                                                <font color="#707070" size="+2"><b>ADD TO CART</b></font>
                                            </td>
                                        </tr>
                                    </table>
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <br><br><br>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <table width=80% align="center">
                        <tr>
                            <td width=30% align="center">
                                <img src="../../resources/images/vector_01.png" alt="quality"><br>
                                <font color="#707070" size="+2"><b>High quality service</b></font>
                            </td>
                            <td width=30% align="center">
                                <img src="../../resources/images/vector_02.png" alt="reasonable"><br>
                                <font color="#707070" size="+2"><b>High quality service</b></font>
                            </td>
                            <td width=30% align="center">
                                <img src="../../resources/images/vector_03.png" alt="secure"><br>
                                <font color="#707070" size="+2"><b>High quality service</b></font>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <br><br><br>
                </td>
            </tr>
            <tr>
                <td>
                    <table bgcolor="#F4BB00" width=100% >
                        <tr>
                            <td width=10%></td>
                            <td width=30%>
                                <br><br>
                                <img src="../../resources/images/logo/logo_02.png" alt="logo" width="20%"><br><br><br>
                                <font size="+1" color="#000000">E-commerce platform which is based in Addis Ababa providing quality and 
                                    easy-to-use accessories, fitness equipment, electronics, and kids</font>
                                <br><br><br>
                                <a href="https://facebook.com/"><img src="../../resources/images/vector_04.png" alt="facebook" width="5%"></a><span> </span> <span> </span>
                                <a href="https://twitter.com/"><img src="../../resources/images/vector_05.png" alt="twitter" width="5%"></a>
                            </td>
                            <td align="center">
                                <br>
                                <a href="./home_page.html"><font size="+1" color="#707070"><b>HOME</b></font></a><br><br><br>
                                <a href="./product.html"><font size="+1" color="#707070"><b>PRODUCT</b></font></a><br><br><br>
                                <a href="./Services.html"><font size="+1" color="#707070"><b>SERVICE</b></font></a><br><br><br>
                                <a href="./about.html"><font size="+1" color="#707070"><b>ABOUT US</b></font></a>>
                            </td>
                            <td width=10%></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
