<!DOCTYPE html>
<html>
<html lang="EN">

	<head>

	</head>
	<body>
		<table width="100%">
			<tr>
				<td><img src="../../Resources/images/logo/logo_02.png" height="60px"></td>
				<td align="right"><input type="text" name=""><input type="submit" name="Search" value="Search"></td>
				<td align="right">
					<a href="./home_page.html"><font size="+1" color="#707070"><b>HOME</b></font></a> |
					<a href="./about.html"><font size="+1" color="#707070"><b>ABOUT</b></font></a> |
					<a href="./product.html"><font size="+1" color="#707070"><b>PRODUCT</b></font></a> |
					<a href="./Services.html"><font size="+1" color="#707070"><b>SERVICES</b></font></a> |
					<a href="./contacts.html"><font size="+1" color="#707070"><b>CONTACTS</b></font></a>
				</td>
				<td align="right">
					<button><a href="./login.html">LOG IN</a></button>
					<button><a href="./signup.html">SIGN UP</a></button>
				</td>
			
		</tr>
</table>
		<hr>
<table border="0">
<tr>
<td align ="center">

<h1 >MY ACCOUNT</h1>
<p align ="center">Forgot your password? Please enter your username or email address. You will receive a link to create a new password via email.</p>
<form>
<dt align="left"><b>Username or email</b></dt>
<dd align="left"><input type="email" required></dd><br>
<dt align ="left"><input  type="submit" value="Reset password"></dt><br>
</td>
</tr>
</form>
</table>
</body>
</html>
