<!DOCTYPE html>
<html>
<html lang="EN">

	<head>

	</head>
	<body>
		<table width="100%">
			<tr>
				<td><img src="../../Resources/images/negablack.jpg" height="30px"></td>
				<td align="right"><input type="text" name=""><input type="submit" name="Search" value="Search"></td>
				<td align="right">
					<a href="Home">Home</a> |
					<a href="About">About</a> |
					<a href="Products">Products</a> |
					<a href="Services">Services</a> |
					<a href="Contact">Contact</a>
				</td>
				<td align="right">
                         
					<input type="submit" name="Login" value="Login">
                                
					<input type="submit" name="Signup" value="signup">
				</td>
			
		</tr>
</table>
		<hr>
<table border="0">
<tr>
<td align ="center">

<h1 >MY ACCOUNT</h1>
<p align ="center">Forgot your password? Please enter your username or email address. You will receive a link to create a new password via email.</p>
<form>
<dt align="left"><b>Username or email</b></dt>
<dd align="left"><input type="email" required></dd><br>
<dt align ="left"><input  type="submit" value="Reset password"></dt><br>
</td>
</tr>
</form>
</table>
</body>
</html>