<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>product page</title>
</head>

<body>
  <table width="100%">
    <tr>
      <td><img src="../../Resources/images/Negadras.jpg" height="30px"></td>
      <td align="right"><input type="text" name=""><input type="submit" name="Search" value="Search"></td>
      <td align="right">
        <a href="./home_page.html"><font size="+1" color="#707070"><b>HOME</b></font></a> |
        <a href="./about.html"><font size="+1" color="#707070"><b>ABOUT</b></font></a> |
        <a href="./product.html"><font size="+1" color="#707070"><b>PRODUCT</b></font></a> |
        <a href="./Services.html"><font size="+1" color="#707070"><b>SERVICES</b></font></a> |
        <a href="./contacts.html"><font size="+1" color="#707070"><b>CONTACTS</b></font></a>
      </td>
      <td align="right">
        <button><a href="./login.html">LOG IN</a></button>
					<button><a href="./signup.html">SIGN UP</a></button>
      </td>
    </tr>
  </table>
<br>
<br>
<br>
<br>
  <table align="center" width="90%" border = 0>
    <tr height = 300>
      <td>
        <h1><strong>WE PROVIDE DELIVERY WITHIN 30 MINUTES</strong></h1>
        <h2>We are Trusted Online Marketing Shop. You Can Buy Your Necessary Product from Us</h2>
        <button>Order Us</button>
      </td>
      <td >
        <img src="../../Resources/images/groceries.png" height="250" >
      </td>
    </tr>
  </table>
<hr>
<br>
  <h1 align = "center">Catagories</h1>
  <table align ="center" width=100% border = 0>
      <tr height = 200 style="background-color:forestgreen;">
          <td style="width: 50%" align="center">
            <a href="Grocery.html" target="blank"><h2>Groceries</h2></a>
            
          </td>
      </tr>
      <tr height = 200 style="background-color:violet;">
          <td style="width: 50%" align="center">
            <a href="Clothes.html" target="blank"><h2>Men and Women clothes</h2></a>
          </td>
      </tr>
      <tr height = 200 style="background-color:darkslategray;">
          <td style="width: 50%" align="center">
            <a href="Elecronics.html" target="blank"><h2>Electronices</h2></a>
          </td>
      </tr>
      <tr height = 200 style="background-color:dimgrey;">
          <td style="width: 50%" align="center">
            <a href="Accessories.html" target="blank"><h2>Accessories</h2></a>
          </td>
      </tr>

  </table> 
  <br>
  <hr>
  <table>
    <tr>
      <td  align="center">
         <h2>Featured Products</h2>
          <img src="../../Resources/images/22218-4-haier-tv.png"  width=40%  >
          <h3>LED Flat Screen TV </h3>
          <h4>60,000 Birr</h4>
          <button>Buy Now</button>
     </td>
    </tr>
  </table>

  <hr>
  <br>
  <table align = "center" width=90%>
      <tr>
          <td align="center">
              <h3>Quick links</h3>
            <a href="Home.html">Home</a><br> 
            <a href="About">About</a><br> 
            <a href="product.html">Products</a> <br> 
            <a href="Services.html">Services</a> <br>
            <a href="Contact.html">Contact</a><br>
          </td>
          <td align="center">
            <h3>Catagories</h3>
            <a href="Grocery.html">Grocery</a><br> 
            <a href="Elecronics.html">Electronics</a> <br> 
            <a href="Clothes.html">Clothes</a> <br>
            <a href="Accessories.html">Accessories</a><br>
        </td>
        <td align="right">
          <input type="submit" name="Search" value="Search"> <input type="text" name="">
        </td>
      </tr>
  </table>
  <p align = "center">
     copyright&copy2021 Negadras<br>
  powered by The Money Team
  </p>
 
</body>

</html>
