<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Resources/css/style.css">
    <link rel="stylesheet" href="../../Resources/css/profile.css">
    <title>Profile</title>
</head>
<body onload="checkLog()">
    <header class="showcase">
        <div class="showcase_top">
            <div class="left">
                <img src="../../resources/images/logo/logo_01.png" alt="logo" class="log" onclick="gohome()" style="cursor:pointer">
                <img src="../../resources/images/logo/logo_small.png" alt="logo" class="log_s" onclick="gohome()" style="cursor:pointer">
                <div class="navs">
                    <ul class="nav_list">
                    <div class="home"><li><a href="./home-page.html">Home</a></li></div>
                    <div class="services"><li><a href="./Services.html">Services</a></li></div>
                    <div class="about_us"><li><a href="./About.html">About us</a></li></div>
                    <div class="home"><li><a href="./contact.html">Contact us</a></li></div>
                    </ul>
                </div>
            </div>
            <div>
                <div class="search">
                    <div class="search-box" onmouseover="search_extend()" onmouseleave="search_shrink()" onkeyup="suggestion_small()">
                        <input id="search_txt" class="search-txt" type="text" name="" placeholder="Type to search">
                        <a class="search-btn" href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="search-svg" fill="#fcc415"><path   d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"/></svg></a>
                    </div>
                    <div class="suggestion_box" ></div>
                </div>
            </div>
            <div class="right">
                <ul>
                    <li>
                        <div class="search-box" onmouseover="search_extend()" onmouseleave="search_shrink()" onkeyup="suggestion()">
                            <input id="search_txt_large" class="search-txt" type="text" name="" placeholder="Type to search">
                            <a class="search-btn" href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="search-svg" fill="#fcc415"><path   d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"/></svg></a>
                        </div>
                        <div class="suggestion_box" id="sugg_box"></div>
                    </li>
                    
                </ul>
                <div id="logged_profile">
                    <a href="./signup.html">Sign up</a>
                    <a href="./loginPage.html">Log in</a>
                </div>
            </div>
        </div>
    </header>
    <div class="main-profile">
        <div class="profile-info-cont">
            <div class="profile_pic">
                <img src="../../Resources/images/bluetext12.png" height="200px" width="200px">
            </div>
        </div>
    </div>
    <div class="profile_det_cont">
        <div class="profile_detail">
            <ul class="profile_nav">
                <li class="ebt active" onclick="toogleNavs('edit')">Edit Profile</li>
                <li class="crbt" onclick="toogleNavs('create_post')">Create a post </li>
                <!-- <li>Cart</li>
                <li>Wishlist</li> -->
            </ul> 
        </div>
        <div class="profile_detail_options">
            <div class="Edit_pro">
                <div class="edit_form">
                    <h1>Edit profile</h1><br>
                    <input type="text" name="" value="" placeholder="Firstname" id="fi">
                    <input type="text" name="" value="" placeholder="Lastname" id="la"><br>
                    <input type="email" name="" value="" placeholder="Email" id="em">
                    <input type="tel" name="" value="" placeholder="Phone" id="tel"><br>
                    <input type="password" name="" value="" placeholder="Password" id="pa"><br>
                    <input type="submit" name="" value="Update" onclick="updatePro()">
                </div>
            </div>
            <div class="Create_post displayNone">
                <div class="create_form">
                    <h1>Post a product</h1><br>
                    <input type="text" name="" value="" placeholder="Title">
                    <input type="text" name="" value="" placeholder="Description"><br>
                    <input type="number" name="" value="" placeholder="Price" min="0">
                    <input type="file" name=""><br><br>
                    <input type="submit" name="" value="Post">
                </div>
            </div>
            <div class="Cart_list">
                <div class="cart">
                    <span></span>
                </div>
            </div>
            <div class="Wishlist">
                <div class="wish">
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../resources/js/main.js"></script>
<script type="text/javascript">
    function toogleNavs(type){
    var editBut = document.getElementsByClassName("ebt")[0]
    var postBut = document.getElementsByClassName("crbt")[0]
    var editBox = document.getElementsByClassName("Edit_pro")[0]
    var postBox = document.getElementsByClassName("Create_post")[0]
    if(type=="edit"){
        editBut.className="ebt active"
        postBut.className="crbt"
        editBox.className="Edit_pro displayBlock"
        postBox.className="Create_post displayNone"
    }
    else if(type=="create_post"){
        editBut.className="ebt"
        postBut.className="crbt active"
        editBox.className="Edit_pro displayNone"
        postBox.className="Create_post displayBlock"
    }
}
var f = checkLog();
if(!f){
    window.location.href="./home-page.html"
}
</script>
</html>