<!DOCTYPE html>
<html lang="EN">
<html>
	<head>
		<title>Services</title>
	</head>
	<body>
		<table width="100%">
			<tr>
				<td><img src="../../Resources/images/wordbig.png" height="30px"></td>
				<td align="right"><input type="text" name=""><input type="submit" name="Search" value="Search"></td>
				<td align="right">
					<a href="home_page.html">Home</a> |
					<a href="about.html">About</a> |
					<a href="product.html">Products</a> |
					<a href="Services.html">Services</a> |
					<a href="contacts.html">Contact</a>
				</td>
				<td align="right">
					<input type="submit" name="Login" value="Login">
					<input type="submit" name="Signup" value="signup">
				</td>
			</tr>
		</table>
		<hr>
		<table width="100%">
			<tr>
				<td align="center">
					<h1>Services We Provide</h1>
					<p>Here at Negadras, we want you to find new connections, grow profitable relationships, and make more money than you could ever dream of making. Sound like something you’d like to do? Then what are you reading this for? Go sign up and get inspired! </p>
				</td>
				<td><img src="../../Resources/images/bg_main.png" height="600px"></td>
			</tr>
		</table>
		<div>
			<h1 align="center">Services we provide</h1>
			<br><br>
			<table width="90%" align="center">
				<tr>
					<td align="center">
						<img src="../../Resources/images/icon-b1.png" height="70px">
						<h2>Listing of products</h2>
						<p>Here we conect buyers and sellers which users have the ability to post products, edit posts, remove their posts and finally users have the platform to sell their products.</p>
						<br><br><br>
					</td>
					<td align="center">
						<img src="../../Resources/images/icon-b2.png" height="70px">
						<h2>Advertising</h2>
						<p>We provide an advertisment platform for users to advertise their products and services.</p>
						<br><br><br>
					</td>
					<td align="center">
						<img src="../../Resources/images/icon-b3.png" height="70px">
						<h2>Verified Services</h2>
						<p>Here at Negadras every service and product is Verified before it is published on our website. We check the availability and trustworthiness of the product of service and thats when we will post the product.</p>
						<br><br><br>
					</td>
				</tr>
				<tr>
					<td align="center">
						<img src="../../Resources/images/icon-b4.png" height="70px">
						<h2>Data Protection</h2>
						<p>Negadras is an onine platform that serves as a place to auction products and services. Negadras may not be the first on this field but it is the perfect platform to buy and sell or grow your business connections.</p>
					</td>
					<td align="center">
						<img src="../../Resources/images/icon-b5.png" height="70px">
						<h2>Support</h2>
						<p>Negadras is an onine platform that serves as a place to auction products and services. Negadras may not be the first on this field but it is the perfect platform to buy and sell or grow your business connections.</p>
					</td>
				</tr>
			</table>
		</div>
		<br><br>
		<hr><br><br>
		<table width="90%" align="center">
			<tr>
				<th>SELL ON NEGADRAS</th>	
				<th>BUY ON NEGADRAS</th>	
				<th>COMPANY</th>
				<th>PRODUCTS</th>	
			</tr>
			<tr>
				<td align="center" valign="top">
					<a href="signup.html">Create account</a><br>
					<a href="signin.html">Signin</a>
				</td>
				<td align="center" valign="top">
					<a href="signup.html">Create account</a><br>
					<a href="signin.html">Signin</a>
				</td>
				<td align="center" valign="top">
					<a href="signup.html">About us</a><br>
					<a href="signin.html">Services</a>
				</td>
				<td align="center">
					<a href="Electronics.html">Electronics</a><br>
					<a href="Clothes.html">Clothes</a><br>
					<a href="Grocery.html">Grocery</a><br>
					<a href="product.html">Products</a><br>

				</td>
			</tr>
		</table>
	</body>
	</body>
</html>