:root {
    --primarycolor: #d6d3c875;
    --secondarycolor:#e6e4f0;
    --lightyellow:#fcc415;
    --linkcolor:#707070;
    --tabcolor: #f0f0f0;
    --leftbackg:rgba(230,228,240,0.9);
    --contactbackground: linear-gradient(90deg,#e7e3ea 66%, #f8c31a 0%);
    --cardTextSize:0.2em;
    --suggestionBackg:#2f3640b3;
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: death star;
    src: url(../font/Death\ Star.otf);
}

@font-face {
    font-family: montserrat;
    src: url(../font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: rog;
    src: url(../font/ROGFontsv1.6-Regular.ttf);
}

body {
    background-color: var(--primarycolor);
}

.showcase {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--secondarycolor);
    font-family: montserrat;
}

.showcase .showcase_top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    top: 0;
    z-index: 2;
    height: 4vw;
    /* margin-bottom: 4vw; */
}

.showcase .log_s {
    display: none;
}

.showcase_top .search {
    display: none;
}

.showcase .small_landing {
    display: none;
}

.showcase .showcase_top a {
    text-decoration: none;
    color: var(--linkcolor);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2vw;
}

h1, h2 {
    font-family: death star;
}

.showcase_top .left {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: var(--leftbackg);
}

.showcase_top .right {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color:#fcc415de;
}

.showcase_top img {
    width: 25%;
}

.showcase_top ul {
    list-style: none;
}

.showcase_top ul li {
    display: inline-block;
    margin: 1vw;
}

.search-box {
    background: #2f3640;
    width: auto;
    border-radius: 40px;
    padding: 0.4em;
    display: flex;
    align-items: center;
}

.search-btn {
    float: right;
    width: 1.2em;
    border-radius: 50%;
    background: #2f3640;
    padding: 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.search-svg {
    fill:#e84118;
    width: 100%;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 1em;
    transition: 0.4s;
    transition: 0.4s;
    width: 0;
    text-align: center;
    text-transform: capitalize;
}

/* -------------suggestion box============ */

.suggestion_box {
    padding: 0.2em;
    display: none;
    flex-direction: column;
    width: 23vw;
    max-height: 12em;
    min-height: 7em;
    overflow-y: scroll;
    scrollbar-color: #e84118 #2f36400d; /* track thumb */
    scrollbar-width: thin;
    margin: 0 2vw;
    background: var(--suggestionBackg);
    border-radius: 0 0 10px 10px;
    position: absolute;
}

.suggestion {
    margin: 0.2em 0;
    padding: 0.5em 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6em;
    gap: 0.5em;
    background: linear-gradient(var(--suggestionBackg),aliceblue);
    border-radius: 10px;
    background: radial-gradient(#cab88066,#908974e0,#4e4834);
    cursor: pointer;
}

.suggestion img {
    width: 25%;
}
.suggestion .discription{
    width: 60%;
    color: aliceblue;
    text-transform: capitalize;
    font-family: montserrat;
}

.suggestion .discription p {
    margin: 0.3em;
    font-size: 1.3vw;
}

/* width */
::-webkit-scrollbar {
    width: 0.5em;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #2f36400d; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e84118; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


.nav_list {
    display: flex;
    flex-direction: row;
}

/* ------------suggestion box end============== */

/* ---------------showcase content--------------- */

.showcase .showcase_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.showcase_content .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-top: 2em;
    padding-top: 3em;
}

.showcase_content h1 {
    margin: 1em;
    text-align: center;
    color: var(--linkcolor);
    font-size: 4vw;
}

.showcase_content h1 span{
    color: var(--lightyellow);
}

.showcase_content h2 span {
    color: var(--tabcolor);
}

.showcase_content p {
    margin: 2em;
    text-align: center;
    color: var(--linkcolor);
    font-size: 2vw;
    font-weight: 500;
    margin-top: 0;
    font-family: montserrat;
}
.bottomNavNums{
    cursor:default;
    box-shadow:none;
}
.showcase_content a {
    padding: 1vw;
    background: var(--lightyellow);
    width: 8vw;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--linkcolor);
    font-weight: 700;
    margin: 0 auto;
    font-size: 1vw;
}

.showcase_content h2 {
    margin: 1em;
    text-align: center;
    color: black;
    font-size: 3vw;
    text-transform: uppercase;
}
.showcase_content .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: var(--lightyellow);
    padding-top: 3em;
}

.showcase_content img {
    width: 100%;
}

/* ----------------end of showcase content--------------- */

/* ----------------tabs---------------- */

article :is(h1, p) {
    text-align: center;
    margin-bottom: 1em;
}

.tabs-grid {
    display: flex;
    gap: 1.5em;
    margin: 2em;
    justify-content: center;
    flex-wrap: wrap;
}

.tabs-grid article {
    background: linear-gradient(#e1cece,aliceblue);
    box-shadow:  0 5px 15px  rgba(0, 0, 0, 0.5);
    border-radius: 3em;
    width: 19em;
    transition: 1s;
    padding: 3em 0;
}

article:hover {
    box-shadow: none;
    background: linear-gradient(#e1cece75,aliceblue);
}

/* -------------------end of tabs--------------------- */

/* --------------- auto slider ---------------- */

.img-slider {
    position: relative;
    width: 15em;
    height: 15em;
    margin: 0 auto;
    overflow: hidden;
}
.img-slider .slider-container {
    position: absolute;
    width: 300%;
    top: 0;
    left: 0;
    overflow: hidden;
    animation: slider 26s infinite;
}
.img-slider .slider-container .slide {
    position: relative;
    width: 33.33333333%;
    height: 100%;
    float: left;
    overflow: hidden
}
.img-slider .slider-container .slide img {
  display: block;
  width: 100%;
  height: 100%
}
@keyframes slider {
    0%, 25%, 100%{left: 0}
    
    30%, 55%{left: -100%}
    
    60%, 85%{left: -200%}
}

/* -------------------end of auto slider---------------- */

/* ----------------------featured ------------------------ */

.featured_1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: radial-gradient(#e6e4f0,#d3c9d9,#e6e4f0);
    align-items: center;
}

.featured_1 .left img {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain !important;
}

.featured_1 .left {
    width: 50%;
    display: flex;
    margin: 2em;
    justify-content: flex-end;
    align-items: center;
    height: 27em;
}

.featured_1 .right{
    width: 50%;
    display: flex;
    margin: 2em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.featured_1 .right :is(h2, p) {
    font-size: 1.3vw;
    text-align: center;
    font-family: montserrat;
    margin: 1vw;
}

.featured_1 .right h1 {
    font-family:rog;
    font-size: 5vw;
    text-align: center;
}

.featured_1 .btn_buy {
    padding: 1vw;
    background: var(--lightyellow);
    width: 8vw;
    border-radius: 5px;
    text-align: center;
    font-family: montserrat;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--linkcolor);
    font-weight: 700;
    margin: 0 auto;
    font-size: 1.1vw;
}

.featured .img-slider {
    width: 100%;
    height: 31em !important;
}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 1s;
  background-color: rgba(0, 0, 0, 0.5);
}

.wrapper .input-box span {
    color: #fbfbfb;
}

.wrapper .input-box :is(input, textarea) {
    border-radius: 5px;
    border: none;
}

.product {
  background: rgb(240, 236, 236);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border-radius: 20px;
  animation: appendAnimate .3s ease-in;
}
.product-pop {
  width: 800px;
  height: 400px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.product-item {
  width: 50%;
  height: 100%;
}
.product-item div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.product-item div img {
  object-fit: contain;
  height: 96%;
  width: 90%;
}
.close {
  z-index: 3;
  position: absolute;
  height: 25px;
  width: 25px;
  margin-top: 15px;
  margin-left: -740px;
  cursor: pointer;
}
.bar-1 {
    background-color: #f4bb09;
    height: 4px;
    width: 30px;
    border-radius: 15px;
    margin-top: 13px;
    transform: rotate(-45deg);
    margin-left: 2px;
}
.bar-2 {
  background-color: #f4bb09;
    height: 4px;
    width: 30px;
    border-radius: 15px;
    margin-top: -3.5px;
    margin-left: 3px;
    transform: rotate(45deg);
}
.product-detail {
  color: #ece2e2;
  background-color: #f4bb09;
  opacity: 0.9;
  border-radius: 20px;
  padding: 50px;
  width: 50%;
  text-align: center;
}

.product-detail .input-box {
    width: 100%;
  }
.order-btn {
  padding: 8px 25px 8px 25px;
  border: 3px solid white;
  background: none;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  transition: 0s;
  font-weight: bold;
  margin-top: 40px;
}
.order-btn:hover {
  color: #f4bb09;
  background: #fff;
}
@keyframes appendAnimate{
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}
.BottomNavs{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.numCont{
    display: flex;
    width: 100%;
    justify-content: center;
}
.navNums{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: montserrat;
    margin-right: 12px;
    margin-bottom: 2px;
    color: #f4bb09;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}
.navNums:hover{
    transform: scale(1.2);
}
/* ------------------ end of featured----------------- */
/*------------------- search result container start----------*/
.searchResult{
    min-height: 80px;
    max-height: 400px;
    overflow-y: scroll;
    padding-bottom: 20px;
    width: 280px;
    background: white;
    box-shadow: 0 0px 30px rgba(0,0,0,0.2);
    position: fixed;
    top: 75px;
    border-radius: 15px;
    z-index: 3;
}
@media (max-width: 750px) {
   /* ---------- featured resposive ---------- */
   .wrapper {
    align-items: unset;
  }
  .product {
    width: 90%;
    height: 90vh;
    /* max-height: auto; */
    display: block;
    margin-top: 5vh;
  }
  .product-pop {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  .product-item {
    height: 50%;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .product-detail {
    width: 84%;
    height: 50%;
    padding: 0px;
    display: inline-block;
    padding-left: 8%;
    padding-right: 8%;
  }
  .close {
    width: 100%;
    margin: 15px;
  }
   .featured_1 {
    flex-direction: column;
    padding-bottom: 4em;
    padding-top: 1em;
    }
    .featured .img-slider {
        height: 40em !important;
    }
    .featured_1 .left {
        margin: 0;
        height: 15em;
        width: 90%;
    }
    .featured_1 .right :is(h2, p) {
        font-size: 3.5vw;
    }
    .featured_1 .right h1 {
        font-size: 7vw;
    }
    .featured_1 .btn_buy {
        padding: 2vw;
        width: 37vw;
        margin: 1em auto;
        font-size: 5.1vw;
    }
    .featured_1 .right {
        width: 88%;
    }
    /* ----------featured responsive end --------------- */
    /* -------------landing responsive----------------- */
    .showcase .right {
        display: none;
    }
    .showcase .left {
        width: 100%;
    }
    .showcase .log {
        display: none;
    }
    .showcase .showcase_top a {
        font-size: 2.5vw;
    }
    .showcase .log_s {
        display: block;
        width: 7%;
    }
    .showcase_top .left {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: space-around;
        border-radius: 2em;
    }
    .showcase_top ul li {
        margin: 0  5vw;
    }
    .showcase_top .search {
        display: block;
    }
    .showcase_top {
        flex-wrap: wrap;
        margin-top: 0.8em;
    }
    .showcase .small_landing {
        display: block;
        width: 90%;
        margin: 0 auto;
    }
    .showcase_content a {
        padding: 3vw;
        width: 33vw;
        font-size: 4vw;
        font-family: montserrat;
     }
    .showcase_content {
          padding-bottom: 3em;
    }
    .showcase_content p {
        font-size: 2vw;
    }
    .showcase_content h1 {
    font-size: 7vw;
    }
    .showcase_content p {
        font-size: 4vw;
        margin: 1.5em 0.5em;
      }
    /* ------------landing responsive end ------------- */
    .footer a {
        font-size: 2.2vw !important;
      }
    /* ----------------contact us responsive--------------- */
    .box {
        flex-direction: column-reverse !important;
        align-items: center !important;
    }

    .box .form {
        width: 85% !important;
    }

    .box .left_side {
        flex-direction: column !important;
        width: 90%!important;
    }

    .box .map {
        transform: translateY(0%) !important;
    }
    .inverted_logo {
        transform: rotate(-90deg);
    }
    .bottom_logo {
        width: 100% !important;
        margin: 0 !important;
        bottom: 3em !important;
    }
    .input-box :is(input, textarea) {
        font-size: 3vw !important;
      }
      .contact_us_page .contact-us h2{
        margin-top: 2em;
    }
    /* -------------suggestion box ========= */
    .suggestion_box {
        margin: 0 3vw;
        width: 69vw;
    }
    .suggestion .discription p {
        font-size: 3.3vw;
    }
    /* ----------------end of suggestion box======= */
    .card_top_heading {
        margin-top: 1.5em;
    }
}

/* ----------------footer----------------- */

.footer{
	background: linear-gradient(#e1cece75,aliceblue);
	color: var(--secondaryColor);
    padding-bottom: 1em;
}

.footer .mainFoot p {
    font-family: Dejavu;
    font-size: 15px;
    color: var(--secondaryColor);
}

.footer a {
    text-decoration: none;
    color: var(--linkcolor);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2vw;
}

.footer .mainFoot h3 {
    font-family: Dejavu;
    font-size: 24px;
    color: var(--secondaryColor);
}

.footer .mainFoot ul {
    list-style: none;
    font-family: Dejavu;
	font-size: 14px;
    color: var(--secondaryColor);
}

.footer .mainFoot ul li {
	margin: 6px 0px;
}

.footer .leftFoot  {
    margin-right: 20px;
    font-size: 25px;
    color: var(--secondaryColor);
}

.footer .mainFoot {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.mainFoot .discrip, .mainFoot .contact {
	width: 30%;
    text-align: center;
    margin-top: 2em;
}

.mainFoot .quick-link {
	width: 17%;
    text-align: center;
    margin-top: 2em;
}

.footer .lastFooter {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.lastFooter p {
	margin: 20px 40px;
	font-size: 18px;
}

.foot_logo {
    width: 56%;
}

/* ----------------footer end-------------------- */

@media (max-width: 650px) {
    /* ---------------footer resposive----------- */
	.footer .mainFoot{
		justify-content: center;
		flex-wrap: wrap;
	}
	.mainFoot .discrip {
		width: 90%;
	}
	 .mainFoot .quick-link{
		width: 35%;
	}
	.mainFoot .contact {
		width: 45%;
	}
    /* -----------------footer responsive end----------- */
}

@media (max-width: 430px) {
    /* -------------------footer resposive--------------- */
	.footer .mainFoot{
		flex-direction: column;
		justify-content: center;
	}
	 .mainFoot .quick-link {
		width: 60%;
		margin: 10px auto;
	}
	.mainFoot .contact {
		width: 85%;
	}
	.mainFoot .discrip {
		width: 90%;
	}
	.lastFooter p {
		margin: 15px;
	}
	.footer .lastFooter {
		flex-direction: column;
	}
    .footer a {
        font-size: 3.8vw !important;
      }
      /* --------------footer responsive end ==--------- */
      .featured_1 {
        padding-bottom: 7.5em;
     }
     /* ----------------contact us responsive ----------- */
     .box {
        width: 90% !important;
        margin: 0 auto;
    }
    .form-box .row {
       flex-direction: column;
       gap: 0 !important;
     }
     .input-box {
       width: 100% !important;
       margin-bottom: 0 !important;
     }
     .input-box :is(input, textarea) {
       font-size: 4.5vw;
     }
     .box .info {
         text-align: center;
         width: 100%;
     }
     .box .info div div a {
         margin-left: 3em;
         text-align: center;
     }
     .info .info-box div div {
         --linksize:5.7em !important;
     }
     .box .info svg {
         fill: black !important;
     }
      /* .wrapper .form-box .row {
          flex-direction: row !important;
        gap: 3vw !important;
      } */
      /* .wrapper .form-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      } */
}

.nav_svg {
    width: 50%;
}

.star-svg {
    fill: var(--lightyellow);
    width: 1.1em;
    cursor: pointer;
}

.star-svg.grey {
    color: #ccc !important;
}

.container :is(h1,h2,span) {
    font-family: montserrat;
}

.container {
    gap: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em;
}

.container .tile {
    width: 20em;
    background: radial-gradient(#e6e4f0,#d3c9d9,#e6e4f0);
    overflow: hidden;
    border-radius: 2em;
}

.container .tile .img_container {
    position: relative;
    width: 100%;
    height: 25em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .tile .img_container img {
    width: 70%;
    object-fit: contain;
    transition: 0.5s ease-in-out;
}

.container .tile:hover .img_container img {
    transform: scale(1.1);
}

.container .tile .content {
    position: absolute;
    transform: translateY(-4.35em);
    background:   linear-gradient(#e1cece75,aliceblue);
    padding: 0.4em 3.9em;
    border-radius: 5em;
    text-align: center;
    min-width: 12.2em;
}

.container .tile .content .product_name h2 {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin: 5px 0;
}

.container .tile .content .rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .tile .content .rating h1 {
    font-size: 20px;
    color: #ff2020;
    font-weight: 500;
    margin-right: 1em;
}

.action
{
    position: absolute;
    top: 10px;
    right: 10px;
}
.action li {
    position: relative;
    List-style: none;
    width: 40px;
    height: 40px;
    background: radial-gradient(#e6e4f0,#d3c9d9,#e6e4f0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    cursor: pointer;
    transition: transform 0.5s;
    transform: translateX(60px);
    border-radius: 50%;
}

.container .tile:hover .action li {
    transform: translateX(0px);
}

.action li:nth-child(2) {
    transition-delay: 0.15s;
}

.action li:nth-child(3) {
    transition-delay: 0.3s;
}

.action li:hover {
    background: var(--lightyellow);
}

.action li:hover .nav_svg {
    fill: #fff;
}

.action li span {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%) translateX(-20px);
    white-space: nowrap;
    padding: 4px 6px;
    background: #fff;
    color: #333;    
    font-weight: 500;
    font-size: 0.7vw;
    border-radius: 4px;
    opacity: 0;
    transition: 0.5s;
}

.action li:hover span {
    transform:translateY(-50%) translateX(0px);
    opacity: 1;
}

.action li span::before {
    content: '';
    position: absolute;
    top: 50%;
    right: -4px;
    width: 8px;
    height: 8px;
    background: #fff;
    transform: translateY(-50%) rotate(45deg);
}

/* ----------------contact us page ================= */

.contact_us_page {
    background: var(--contactbackground);
    font-family: montserrat;
    margin: 0;
    padding: 0;
}


.contact_us_page .left , .contact_us_page .right {
    background-color: rgba(255, 255, 255, 0) !important;
}

.contact_us_page .showcase_top {
    position: relative;
    background: var(--contactbackground);
}

.contact_us_page .contact-us .title {
    text-align: center;
    font-size: 1.5em;
}

/* ------------form box ----------- */

.box {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    align-items: flex-start;
}

.box .form {
    width: 60%;
    background: #fef8f8;
    padding: 2em;
}

.form-box {
    position: relative;
    width: 100%;
}

.form-box .row {
    display: flex;
    gap: 2em;
    margin-top: 2em;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    width: 50%;
}

.message .input-box {
    width: 100%;
}

.message .input-box input {
    margin-top: 1em;
}

.input-box span {
    color: #e84118;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: 900;
    font-size: 1.3em;
}

.input-box :is(input, textarea) {
    padding: 1em;
    font-size: 1vw;
    outline: none;
    border: 1px solid #333;
}

.input-box textarea {
    min-height: 7em;
    resize: none;
}

.input-box input[type="submit"] {
    background: #f8c31ad4;
    color: #bc4040;
    border: none;
    font-size: 1.7em;
    font-weight: 500;
    cursor: pointer;
    padding: 0.4em 0;
}

/* -------------------contact----------------- */

.contact_us_page .contact-us svg {
    width: 100%;
}

.box .info {
    background: #fef8f8;
    padding: 2em;
    transition: 0.5s;
} 

.box .map {
    transform: translateY(-20%);
    transition: 0.5s;
}

.box .left_side:hover .map {
    transform: translateY(0%);
}

.info .info-box div  {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.info .info-box div div {
    --linksize:1.7em;
    width: var(--linksize);
    height: var(--linksize);
    color: #fff;
    font-size: 1.5vw;
    border-radius: 50%;
    padding: 0.3em;
    margin: auto 0;
    margin-right: 1em;
    cursor: pointer;
}

.info .info-box div  {
    margin: 1em 0;
}

.info .info-box a  {
    text-decoration: none;
}

.info .info-box ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.info .info-box li {
    List-style: none;
    --linksize:1.7em;
    width: var(--linksize);
    height: var(--linksize);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    padding: 0.5em 0.19em 0.19em 0.6em;
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.5s ease-in-out;
}

.info .info-box li svg {
    width: 80%;
}

.info .info-box li:hover {
    background: var(--lightyellow);
}

.info .info-box li:hover svg {
    fill: #fff;
}

.box .left_side {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.box .left_side .map iframe{
    width: 100%;
}

.box .left_side .map {
    width: 100%;
    z-index: -1;
}

.bottom_logo {
    width: 95%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1vh;
    position: fixed;
    bottom: 0;
    z-index: -2;
}

.inverted_logo {
    width: 20%;
    margin: 0;
}

/* =================end of contact us page--------------------- */

.NextBut{
    position: relative;
    top: 20px;
    margin-bottom: 40px;
    align-self: center;
    height: 40px;
    width: 100px;
    background: #f7c52f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: montserrat;
    cursor: pointer;
}

/*----------for zoom functionality------------*/
#conta{
    position: relative;
}
.zo{
    display: none;
    /*margin-top: -70px;
    margin-left: -70px;*/
    z-index: 2;
}
.displayNone{
    display: none !important;
}
.displayBlock{
    display: block !important;
}
.clip{
    -webkit-clip-path: inset(30px 10px 30px 10px);
    -moz-clip-path: inset(30px 10px 30px 10px);
    clip-path: inset(30px 10px 30px 10px);
    /*margin-top: -60px;
    margin-left: -60px;*/
}

#logged_profile {
    display: flex;
    gap: 1em;
    /* align-items: center; */
    /* flex-direction: column; */
    margin: 0 0.3em;
    /* -------------- */
    width: 35%;
    /* background: #e6e4f0; */
    border-radius: 2em;
}

#logged_profile .profile_image {
    width: 3.5vw;
    height: 3.5vw;
    overflow: hidden;
    border-radius: 50%;
}

#logged_profile .profile_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#logged_profile h2 {
    color: #544000;
    font-family: montserrat;
    font-weight: 900;
    font-size: 1.2vw;
    margin: 0.1em;
    text-transform: capitalize;
}

.top_profile_menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 3vw;
    margin-left: 3vw;
    background: #e6e4f0bd;
    padding: 1em;
    border-radius: 0px 0px 10px 10px;
    transition: 0.5s;
}
